.signup-form {
  display: flex;
  flex-direction: column;
}

/* .signup-form-name-section {
  width: 
} */

.first-name, .last-name {
  width: 24.6%;
}

.email, .password {
  width: 50%;
  margin-top: 10px;
}

.submit-button {
  width: 50.75%;
  background-color: 	#40a46e;
  color: white;
  margin-top: 40px;
}

span {
  margin-top: 20px;
  color: white;
  /* text-align: left; */
  /* idk how to justify the text left */
}